PORT = 4005
DB_USERNAME =doadmin
DB_PASSWORD =t7i7pa9j1nfjd875
DB_PORT= 25060
TEST_DB_NAME =
DEVELOP_DB_NAME =imikino
PRODUCTION_DB_NAME =imikino
HOST =yegobox-do-user-1014638-0.a.db.ondigitalocean.com
SECRET_KEY =
SENDGRID_API_KEY =
NEXMO_API_KEY =
NEXMO_API_SECRET =
